{
  "openapi": "3.0.0",
  "info": {
    "title": "Statbate Premium API",
    "description": "API for accessing Statbate Premium data",
    "version": "1.0.0",
    "contact": {
      "email": "support@statbate.com"
    }
  },
  "servers": [
    {
      "url": "https://plus.statbate.com/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8000/api",
      "description": "Local server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Members" },
    { "name": "Models" },
    { "name": "Tags" }
  ],
  "paths": {
    "/models": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Top Models",
        "description": "Returns a list of top models based on specified criteria",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site to get data from",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"],
              "default": "chaturbate"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "selectedGenders[]",
            "in": "query",
            "description": "Filter by gender IDs (0-3), 0 - Male, 1 - Female, 2 - Trans, 3 - Couple",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "enum": [0, 1, 2, 3]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "online": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "integer"
                          },
                          "rid": {
                            "type": "integer"
                          },
                          "total_tokens": {
                            "type": "integer"
                          },
                          "total": {
                            "type": "number"
                          },
                          "hourly_tokens": {
                            "type": "integer"
                          },
                          "hourly": {
                            "type": "number"
                          },
                          "hours": {
                            "type": "integer"
                          },
                          "dons": {
                            "type": "integer"
                          },
                          "daily_tokens": {
                            "type": "integer"
                          },
                          "daily": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Top Members",
        "description": "Returns a list of top members based on specified criteria",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site to get data from",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"],
              "default": "chaturbate"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "selectedGenders[]",
            "in": "query",
            "description": "Filter by gender IDs (0-3), 0 - Male, 1 - Female, 2 - Trans, 3 - Couple",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "enum": [0, 1, 2, 3]
              }
            }
          },
          {
            "name": "highTippers",
            "in": "query",
            "description": "Include high tippers",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "did": {
                            "type": "integer"
                          },
                          "total_tokens": {
                            "type": "integer"
                          },
                          "total": {
                            "type": "number"
                          },
                          "tips": {
                            "type": "integer"
                          },
                          "avg_tokens": {
                            "type": "integer"
                          },
                          "avg": {
                            "type": "number"
                          },
                          "models": {
                            "type": "integer"
                          },
                          "daily": {
                            "type": "number"
                          },
                          "daily_tokens": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/info": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member Info",
        "description": "Returns detailed information about a specific member",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "did": {
                          "type": "integer"
                        },
                        "first_message_date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "first_tip_date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "last_tip_date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "last_tip_amount": {
                          "type": "integer"
                        },
                        "models_messaged_2weeks": {
                          "type": "integer"
                        },
                        "models_messaged_2weeks_list": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "models_tipped_2weeks": {
                          "type": "integer"
                        },
                        "models_tipped_2weeks_list": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "per_day_tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "tokens": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "all_time_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "timezone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/info/batch": {
      "post": {
        "tags": ["Members"],
        "summary": "Get Members Info (Batch)",
        "description": "Returns detailed information for multiple members in a single request",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "names": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "timezone": { "type": "string" }
                },
                "required": ["names"]
              },
              "example": {
                "names": ["donatorA", "donatorB"],
                "timezone": "Europe/Bucharest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "did": { "type": ["integer", "null"] },
                          "first_message_date": { "type": ["string", "null"], "format": "date-time" },
                          "first_tip_date": { "type": ["string", "null"], "format": "date-time" },
                          "last_tip_date": { "type": ["string", "null"], "format": "date-time" },
                          "last_tip_amount": { "type": "integer" },
                          "models_messaged_2weeks": { "type": "integer" },
                          "models_messaged_2weeks_list": { "type": "array", "items": { "type": "string" } },
                          "models_tipped_2weeks": { "type": "integer" },
                          "models_tipped_2weeks_list": { "type": "array", "items": { "type": "string" } },
                          "per_day_tokens": { "type": "array", "items": { "type": "object", "properties": { "date": {"type": "string", "format": "date"}, "tokens": {"type": "integer"} } } },
                          "all_time_tokens": { "type": "integer" },
                          "error": { "type": ["string", "null"] }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": { "type": "string" },
                        "timezone": { "type": "string" },
                        "found": { "type": "integer" },
                        "requested": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                },
                "example": { "error": "names array is required" }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/model/{model}": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member Model Spending",
        "description": "Returns information about a member's spending on a specific model",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "member": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "did": {
                              "type": "integer"
                            }
                          }
                        },
                        "model": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "rid": {
                              "type": "integer"
                            },
                            "gender": {
                              "type": "integer"
                            }
                          }
                        },
                        "total": {
                          "type": "object",
                          "properties": {
                            "tokens": {
                              "type": "integer"
                            },
                            "usd": {
                              "type": "number"
                            },
                            "tips": {
                              "type": "integer"
                            }
                          }
                        },
                        "daily_spending": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "tokens": {
                                "type": "integer"
                              },
                              "usd": {
                                "type": "number"
                              },
                              "tips": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "timezone": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/model/{site}/{name}/info": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Model Info",
        "description": "Returns basic information about a specific model",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "rid": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "rank": {
                          "type": "integer"
                        },
                        "sessions": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer"
                            },
                            "total_duration": {
                              "type": "integer"
                            },
                            "average_duration": {
                              "type": "integer"
                            }
                          }
                        },
                        "income": {
                          "type": "object",
                          "properties": {
                            "tokens": {
                              "type": "integer"
                            },
                            "usd": {
                              "type": "number"
                            }
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "timezone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Model not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/model/{site}/{name}/activity": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Model Activity",
        "description": "Returns activity, sessions, and privates for a specific model",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "rid": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_sessions": {
                              "type": "integer"
                            },
                            "public_sessions": {
                              "type": "integer"
                            },
                            "total_duration": {
                              "type": "integer"
                            },
                            "average_duration": {
                              "type": "integer"
                            }
                          }
                        },
                        "sessions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "start_time": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "end_time": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "duration": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "timezone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Model not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/model/{site}/{name}/members": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Model Members",
        "description": "Returns information about members who interact with a specific model",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "rid": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_members": {
                              "type": "integer"
                            },
                            "total_tokens": {
                              "type": "integer"
                            },
                            "total_usd": {
                              "type": "number"
                            },
                            "average_per_member": {
                              "type": "integer"
                            },
                            "average_per_member_usd": {
                              "type": "number"
                            },
                            "returning_members": {
                              "type": "integer"
                            },
                            "new_members": {
                              "type": "integer"
                            }
                          }
                        },
                        "top_members": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "did": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "tokens": {
                                "type": "integer"
                              },
                              "usd": {
                                "type": "number"
                              },
                              "tip_count": {
                                "type": "integer"
                              },
                              "first_tip": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "last_tip": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "spending_distribution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "range": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "timezone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Model not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/model/{site}/{name}/rank": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Model Rank",
        "description": "Returns information about a model's rank and its changes over a period",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "rid": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "first_rank": {
                              "type": "integer"
                            },
                            "last_rank": {
                              "type": "integer"
                            },
                            "best_rank": {
                              "type": "integer"
                            },
                            "worst_rank": {
                              "type": "integer"
                            },
                            "rank_change": {
                              "type": "integer"
                            },
                            "rank_change_percent": {
                              "type": "number"
                            },
                            "trend": {
                              "type": "string",
                              "enum": ["improving", "declining", "stable"]
                            },
                            "total_tokens": {
                              "type": "integer"
                            },
                            "total_usd": {
                              "type": "number"
                            }
                          }
                        },
                        "ranks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "format": "date"
                              },
                              "rank": {
                                "type": "integer"
                              },
                              "tokens": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "timezone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Model not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/model/{site}/{name}/tips": {
      "get": {
        "tags": ["Models"],
        "summary": "Get Model Tips",
        "description": "Returns a list of tips received by a specific model",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Model's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "did": {
                            "type": "integer"
                          },
                          "tokens": {
                            "type": "integer"
                          },
                          "usd": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "model": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "gender": {
                              "type": "integer"
                            }
                          }
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/tips": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member Tips",
        "description": "Returns a list of tips made by a specific member",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "model": {
                            "type": "string"
                          },
                          "rid": {
                            "type": "integer"
                          },
                          "tokens": {
                            "type": "integer"
                          },
                          "usd": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "member": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/tag-spending": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member Tag Spending",
        "description": "Returns information about a member's spending on different tags",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer"
                          },
                          "tag": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "models_count": {
                            "type": "integer"
                          },
                          "total_tokens": {
                            "type": "integer"
                          },
                          "total_usd": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "member": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/top-models": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member's Top Models",
        "description": "Returns a ranked list of models that the member has spent tokens on",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of top models ranked by total spending",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "description": "Ranking position (1-based)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Model's username"
                          },
                          "rid": {
                            "type": "integer",
                            "description": "Model ID"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Model's gender (0 - Male, 1 - Female, 2 - Trans, 3 - Couple)"
                          },
                          "total_tokens": {
                            "type": "integer",
                            "description": "Total tokens spent on this model"
                          },
                          "total_usd": {
                            "type": "number",
                            "description": "Total USD spent on this model"
                          },
                          "days": {
                            "type": "integer",
                            "description": "Number of days with activity"
                          },
                          "daily_tokens": {
                            "type": "integer",
                            "description": "Average tokens spent per day"
                          },
                          "daily_usd": {
                            "type": "number",
                            "description": "Average USD spent per day"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string",
                          "description": "Site name"
                        },
                        "member": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Member ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Member username"
                            }
                          }
                        },
                        "range": {
                          "type": "array",
                          "description": "Date range for the data",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "timezone": {
                          "type": "string",
                          "description": "Timezone used for the data"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Member not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{site}/{name}/activity": {
      "get": {
        "tags": ["Members"],
        "summary": "Get Member Activity",
        "description": "Returns information about a member's activity by hour of day and day of week",
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site name",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"]
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Member's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "Timezone for the response",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "hourly": {
                          "type": "array",
                          "description": "Activity by hour of day (0-23)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hour": {
                                "type": "integer",
                                "description": "Hour of day (0-23)"
                              },
                              "tip_count": {
                                "type": "integer",
                                "description": "Number of tips during this hour"
                              },
                              "token_sum": {
                                "type": "integer",
                                "description": "Total tokens spent during this hour"
                              },
                              "usd_sum": {
                                "type": "number",
                                "description": "Total USD spent during this hour"
                              }
                            }
                          }
                        },
                        "daily": {
                          "type": "array",
                          "description": "Activity by day of week (1-7, Monday-Sunday)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day_of_week": {
                                "type": "integer",
                                "description": "Day of week (1-7, Monday-Sunday)"
                              },
                              "day_name": {
                                "type": "string",
                                "description": "Name of the day"
                              },
                              "tip_count": {
                                "type": "integer",
                                "description": "Number of tips on this day"
                              },
                              "token_sum": {
                                "type": "integer",
                                "description": "Total tokens spent on this day"
                              },
                              "usd_sum": {
                                "type": "number",
                                "description": "Total USD spent on this day"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "member": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "timezone": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "Get Tags",
        "description": "Returns a list of tags",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site to get data from",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"],
              "default": "chaturbate"
            }
          },
          {
            "name": "range[0]",
            "in": "query",
            "description": "Start date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range[1]",
            "in": "query",
            "description": "End date in YYYY-MM-DD H:i:s format (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string"
                          },
                          "models": {
                            "type": "integer"
                          },
                          "tokens": {
                            "type": "integer"
                          },
                          "usd": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": {
                          "type": "string"
                        },
                        "range": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "current_page": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tags/search": {
      "get": {
        "tags": ["Tags"],
        "summary": "Search Tags",
        "description": "Search for tags by name. If query is empty, returns most popular tags.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site to get data from",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "bongacams", "camsoda", "mfc"],
              "default": "chaturbate"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string",
                            "description": "Tag name"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tag name (duplicate of tag)"
                          },
                          "value": {
                            "type": "string",
                            "description": "Tag value for form inputs"
                          },
                          "models_count": {
                            "type": "integer",
                            "description": "Number of models using this tag"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/online": {
      "get": {
        "tags": ["Members"],
        "summary": "Best online members",
        "description": "Returns the top currently online members (donators) ranked by tokens tipped in the last hour, with fallbacks to total volume.",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Target site/database scope.",
            "schema": {
              "type": "string",
              "enum": ["chaturbate", "stripchat", "mfc", "bongacams", "camsoda"],
              "default": "chaturbate"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone name like Europe/Berlin. Also supports {value: 'TZ'} in UI forms.",
            "schema": { "type": "string" }
          },
          {
            "name": "selectedGenders[]",
            "in": "query",
            "required": false,
            "description": "Filter by genders of models members tipped: 0=unknown, 1=female, 2=male, 3=couple.",
            "schema": {
              "type": "array",
              "items": { "type": "integer", "enum": [0,1,2,3] }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": { "type": "integer", "example": 1 },
                          "online": { "type": "integer", "enum": [0,1], "example": 1 },
                          "name": { "type": "string", "example": "memberName" },
                          "did": { "type": "integer", "example": 123 },
                          "total_tokens": { "type": "integer", "example": 42000 },
                          "total": { "type": "integer", "example": 210 },
                          "tips": { "type": "integer", "example": 57 },
                          "avg_tokens": { "type": "integer", "example": 736 },
                          "avg": { "type": "integer", "example": 3 },
                          "models": { "type": "integer", "example": 12 },
                          "daily_tokens": { "type": "integer", "example": 6000 },
                          "daily": { "type": "integer", "example": 30 },
                          "hour_tokens": { "type": "integer", "example": 1500 },
                          "hour": { "type": "integer", "example": 7 },
                          "day_tokens": { "type": "integer", "example": 9000 },
                          "day": { "type": "integer", "example": 45 },
                          "week_tokens": { "type": "integer", "example": 32000 },
                          "week": { "type": "integer", "example": 160 },
                          "isFavorite": { "type": "integer", "example": 0 }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "site": { "type": "string", "example": "statbate" },
                        "timezone": { "type": "string", "example": "Europe/Berlin" },
                        "range": {
                          "type": "array",
                          "items": { "type": "string", "format": "date-time" }
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "selectedGenders": {
                              "type": "array",
                              "items": { "type": "integer" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        }
      }
    }
  }
}
